.rows{
    margin-top: auto;
    margin-bottom: auto;
}

.item-1{
    --min-height: 500px;
    --border-width: 0px;
    --inner-border-widith: 0px;
}

.item-2{
    --min-height: 500px;
    --border-width: 0px;
    --inner-border-widith: 0px;
}

h2{
    font-size: 15px;
}