<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start' href='/user-profile'></ion-buttons>
    <ion-title>Update Credentials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label position='floating'>Display Name</ion-label>
      <ion-input type='email' [(ngModel)]="Contacts.displayName"></ion-input>
  </ion-item>
  

  <ion-item>
    <ion-label>Division</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="Contacts.Division">
      <ion-select-option value="DAGASS">DAGASS</ion-select-option>
      <ion-select-option value="DAGRI">DAGRI</ion-select-option>
      <ion-select-option value="DHS">DHS</ion-select-option>
      <ion-select-option value="DTEES">DTEES</ion-select-option>
      <ion-select-option value="DTEMS">DTEMS</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Year</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="Contacts.Year">
      <ion-select-option value="Year 1">Year 1</ion-select-option>
      <ion-select-option value="Year 2">Year 2</ion-select-option>
      <ion-select-option value="Year 3">Year 3</ion-select-option>
      <ion-select-option value="Year 4">Year 4</ion-select-option>
      <ion-select-option value="Bridging">Bridging</ion-select-option>
    </ion-select>
  </ion-item>

  </ion-list>
 
  <ion-button full='soild' expand='full' color='success' (click)='saveContact()'>Save Checklist</ion-button>


</ion-content>
