<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Create A New Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
        <ion-label position='floating'>Full Name</ion-label>
        <ion-input type='email' [(ngModel)]="displayName"></ion-input>
    </ion-item>
   
    <ion-item>
        <ion-label position='floating'>Email</ion-label>
        <ion-input type='email' [(ngModel)]="email"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label>Division</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="division">
        <ion-select-option value="DAGASS">DAGASS</ion-select-option>
        <ion-select-option value="DAGRI">DAGRI</ion-select-option>
        <ion-select-option value="DHS">DHS</ion-select-option>
        <ion-select-option value="DTEES">DTEES</ion-select-option>
        <ion-select-option value="DTEMS">DTEMS</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Year</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="year">
        <ion-select-option value="Year 1">Year 1</ion-select-option>
        <ion-select-option value="Year 2">Year 2</ion-select-option>
        <ion-select-option value="Year 3">Year 3</ion-select-option>
        <ion-select-option value="Year 4">Year 4</ion-select-option>
        <ion-select-option value="Bridging">Bridging</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label position='floating'>Confirm Password</ion-label>
        <ion-input type='password' placeholder='12345678' [(ngModel)]="cpassword"></ion-input>
    </ion-item>
    
<ion-item>
    <ion-label position='floating'>Password</ion-label>
    <ion-input type='password' [(ngModel)]="password"></ion-input>
</ion-item>

  </ion-list>

  <ion-button fill='solid' expand='full' color='primary' (click)='SignIn()'>Sign Into Pilot</ion-button>
  <ion-button fill='clear' expand='full' color='secondary' (click)='LogIn()'>Have An Account Already? Click here
  </ion-button>

</ion-content>