<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
        <img alt='bannerwhite' height='40' src='assets\images\bannerwhite.png'>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h1><em>Pilot Version</em> Beta 1.0.2</h1>
          </ion-card-title>
          <ion-card-subtitle>Make School Life Take <strong>flight</strong></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Welcome to <em>Pilot</em>. An app which is tailored to help students with managing assingments and tasks and 
          also to help strengthen the communication between students and administration.
        </ion-card-content>
      </ion-card>

</ion-content>
